
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding-bottom: 100px;
}

.search-container input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.search-container button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}

.search-container button:hover {
    background-color: #869187;
}

.google{
    text-align: center;
    color: white;
    font-size: 50px;
    
}
.results-container{
    color: white;
}
